<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home- NoSql</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="../styles/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Style CSS -->
    <link href="../styles/home.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../scripts/jquery.min.js"></script>
    <!-- Bootstrap Javascript -->
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
        <div><a href="/home"><img src="../images/COFFEEBEAVERLOGO.png"></a></div>
        <h4>Minion List!</h4>

        <div>
        <% employees.forEach(function (item){ %>
            <div class='container'>
                <h4>SSN: <%=item.ssn%></h4>
                <h5> <%=item.firstname%>  <%=item.lastname%>   branchID: <%=item.Branch%>    Role: <%=item.Role%></h5>
                <button type='button' class='btn btn-info' data-toggle='collapse' data-target='#demo<%=item.employeeID%>'>
                    View Comments</button>
                <div id='demo<%=item.employeeID%>' class='collapse'>
                    <h5>Comments:</h5>
                    <%item.comments.forEach(function(comment){%>
                    <p><strong>Date: <%=comment.entryDate%>,   EmployerID: <%=comment.employerID%></strong></p>
                        <p>Comment: <%=comment.comment%></p>
                    <%});%>
                    <h5>Employment History:</h5>
                    <%item.employmenthistory.forEach(function(history){%>
                    <h5>Role: <%=history.role%>,  Hours a week: <%=history.hoursaweek%></h5>
                    <h6>StartDate: <%=history.startDate%>,   EndDate: <%=history.endDate%></h6>
                    <%});%>
                </div>
                <hr>
            </div>
      <% }); %>
        </div>

    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">NoSQL project by Andreas Andersson, Gabriel Ekstedt, Jody O'Neil and Sara-Sofia Lundin</p>
        </div>
    </footer>

</body>

</html>
